<%# -*- coding: utf-8 -*-%>
<% require 'rubygems' # RubyGemsでインストールしたときには記述  %>
<% require 'dbi'      # DBIを使う %>

<%# dbhを作成し、データベース'bookinfo_sqlite.db'に接続する %>
<% dbh = DBI.connect( 'DBI:SQLite3:bookinfo_sqlite.db' ) %>

<%# テーブルから削除対象データを読み込んで表示する %>
<% row = dbh.select_one("select * from bookinfos where id=\'#{target_id}\'") %>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      // header.htmlとfooter.htmlをテンプレート化
      $('#header').load('header.html');
      $('#footer').load('footer.html');
    });
  </script>
</head>

<body>
  <div class="header">
    <div id="header"></div>
    <!-- header.htmlをここに表示する -->
  </div>
  <div class="container">
    <p><a href="list.erb">蔵書データの表示</a>｜
      <a href="index.html">メニュー画面に戻る</a></p>
    <h2>蔵書データの削除</h2>
    <p>このデータを削除します｜</p>

    <hr>

    <%# 削除データを表示する アクションはdelete %>
    <form method="post" action="delete">
      <input type="hidden" name="id" value="<%= target_id %>" />
      <table>
        <%# select文の実行結果のidが指定されたデータを取り出し、繰り返し処理する %>
        <th>項目名</th>
        <th>削除データ</th>
        <%# each_with_nameメソッドで値と項目名を1件分ずつ取り出して表示する %>
        <%   row.each_with_name do |val, name| %>
        <tr>
          <td><%= name %></td>
          <td><%= val.to_s %></td>
          <input type="hidden" name="<%= name %>" value="<%= val %>" />
        </tr>
        <%   end %>
      </table>
      <input type="submit" class="btn btn-secondary" value="削除を実行" />
    </form>
    <hr>
  </div>
  <div id="footer"></div>
</body>

</html>