<%# -*- coding: utf-8 -*-%>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      // header.htmlとfooter.htmlをテンプレート化
      $('#header').load('header.html');
      $('#footer').load('footer.html');
    });
  </script>
</head>

<body>
  <div class="header">
    <div id="header"></div>
    <!-- header.htmlをここに表示する -->
  </div>
  <div class="container">
    <p><a href="list.erb">蔵書データの表示</a>｜
      <a href="index.html">メニュー画面に戻る</a></p>
    <h2>蔵書データの登録</h2>
    <p>下記の蔵書データを登録しました</p>

    <hr>
    <table>
      <th>項目名</th>
      <th>登録データ</th>
      <% ['id','title','author','page','publish_date','image_url'].each do |name| %>
      <tr>
        <td><%= name %></td>
        <% if name == 'image_url' then%>
        <td><img id="<%=name%>" name="<%=name%>" src="<%= req.query[name].force_encoding("UTF-8") %>"></td>
        <% else %>
        <td><%= req.query[name].force_encoding("UTF-8") %></td>
        <%end%>
      </tr>
      <% end %>
    </table>
    <hr>
  </div>
  <div id="footer"></div>

</html>