<%# -*- coding: utf-8 -*-%>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      // header.htmlとfooter.htmlをテンプレート化
      $('#header').load('header.html');
      $('#footer').load('footer.html');
    });
  </script>
</head>

<body>
  <div class="header">
    <div id="header"></div>
    <!-- header.htmlをここに表示する -->
  </div>
  <div class="container">
    <p><a href="list.erb">蔵書データの表示</a>｜
      <a href="index.html">メニュー画面に戻る</a></p>
    <h2>蔵書データの登録</h2>
    <p>登録データを入力してください</p>

    <hr>
    <%# 登録対象データを入力するフォームを表示する アクションはentry %>
    <form method="post" action="entry">
      <table>
        <tr>
          <th>項目名</th>
          <th>入力データ</th>
        </tr>
        <% ['id','title','author','page','publish_date','image'].each do |name| %>
        <tr>
          <td><%= name %>
            <%if name == 'id' then%>
          <td><input type="text" id="<%=name%>" name="<%=name%>" size="60" required="required"></td>
          <% elsif name == 'image'%>
          <td><img id=<%=name%> name="<%=name%>" src=""></td>
          <%else%>
          <td><input type="text" id="<%=name%>" name="<%=name%>" size="60" value="" /></td>
          <% end %>
        </tr>
        <% end %>
      </table>
      <input type="submit" value="登録を実行" />
    </form>

    <hr>

  </div>

  <div id="footer"></div>
  <script type="text/javascript" src="entry.js"></script>
  <script>
    query_display();
  </script>
</body>

</html>